# Core dependencies
whisper==1.1.10
faster-whisper==1.2.0
pyannote-audio==4.0.1
torch==2.9.0
torchaudio==2.9.0
numpy==2.3.4
tqdm==4.67.1
ffmpeg-python==0.2.0
soundfile==0.13.1

# ML and processing dependencies
transformers==0.22.1
pytorch-lightning==2.5.5
huggingface-hub==0.35.3
setuptools==80.9.0
scikit-learn==1.7.2
scipy==1.16.2

# Audio processing
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchcodec==0.8.0

# API and utilities
fastapi==0.119.1
uvicorn==0.38.0
python-multipart==0.0.20